@use "project-colors";
body {
  font-family: Roboto;
  color: #2e2f42;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: Raleway;
  text-decoration: none;
}
.logo .logo_accent {
  color: #4d5ae5;
}

.footer_logo {
  color: #f4f4fd;
}

.filters_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.filters_button:hover, .filters_button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.header_nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header_nav-link {
  color: #2e2f42;
}
.header_nav-link:hover, .header_nav-link:focus {
  color: #404bbf;
}

.header_contacts-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header_contact-link {
  color: #434455;
  font-style: normal;
}
.header_contact-link:hover, .header_contact-link:focus {
  color: #404bbf;
}

.hiro {
  background-color: #2e2f42;
}

.hiro_title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hiro_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hiro_button:hover, .hiro_button:focus {
  background-color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team_list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team_list-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.projects_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.projects_paragrad {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.quality_list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.quality_list-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.what-we-do_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
