.filters_button {
  font-weight: var(--title2-weight);
  color: var(--accent-color);
  background-color: #f4f4fd;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--hover-color);
  }
}
