.header {
}

.header_nav-list {
  font-weight: var(--title2-weight);
}

.header_nav-link {
  color: var(--text-color1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.header_contact-link {
  color: var(--text-color2);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
