.hiro {
  background-color: var(--bg-color2);
}

.hiro_title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hiro_button {
  font-weight: var(--title2-weight);
  color: #ffffff;
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
