.hiro {
  background-color: $bg-color2;
}

.hiro_title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hiro_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
