.our-team {
  background-color: #f4f4fd;
}

.our-team_title {
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  text-align: center;
  text-transform: capitalize;
}

.our-team_list-title {
  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
  letter-spacing: 0.02em;
}
