.projects_link {
  color: var(--text-color1);
}

.projects_title {
  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
}

.projects_paragrad {
  color: var(--text-color2);
}
