.quality {
}

.quality_list-title {
  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
}

.quality_list-paragraf {
  color: var(--text-color2);
}
