.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color1;
  font-family: Raleway;
  text-decoration: none;

  .logo_accent {
    color: $accent-color;
  }
}

.footer_logo {
  color: #f4f4fd;
}
